<header class="the-header">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/favicon.ico">
    <div class="unit-head">
        <div class="unit-inner unit-head-inner">
            <nav class="nav-global">
                <ul>
                    <li class="logo nav-link">
                        <button class="btn-menu" title="{{ site.data.i18n[site.lang].menu }}"></button>
                        <a href="{{ site.paths.blog | relative_url }}">{{ site.title }}</a>
                        <!--[if !IE]> -->
                        <button class="btn-search" title="{{ site.data.i18n[site.lang].search }}"></button>
                        <!-- <![endif]-->
                    </li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].tags }}"
                                            href="{{ site.paths.tags | relative_url }}">{{
                        site.data.i18n[site.lang].tags }}</a></li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].centralhk }}"
                                            href="{{ site.paths.centralhk | relative_url }}">{{
                        site.data.i18n[site.lang].centralhk }}</a></li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].friends }}"
                                            href="{{ site.paths.friends | relative_url }}">{{
                        site.data.i18n[site.lang].friends }}</a></li>
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].aboutme }}"
                                            href="{{ site.paths.aboutme | relative_url }}">{{
                        site.data.i18n[site.lang].aboutme }}</a></li>
                    <!--[if !IE]> -->
                    <li class="nav-link"><a title="{{ site.data.i18n[site.lang].search }}" class="btn-search"
                                            href="#">{{
                        site.data.i18n[site.lang].search }}</a></li>
                    <!-- <![endif]-->
                </ul>
            </nav>
        </div>
    </div>
</header>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script>
    /* MathJax configuration: set default font to Computer Modern (TeX) */
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$']]
        }
        /* chtml.font 'TeX' selects the TeX/Computer Modern-like web fonts */
        // chtml: {
        //     font: 'mathjax-stix2'
        // }
    };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
