$color-text-dark: #222222;
$color-text-light: #eeeeee;
$color-hover-icon: #222222;
$color-hover-transparent: #ffccff;
$color-background-dark: rgba(0, 0, 0, .5);
$color-background-light: rgba(255, 255, 255, .1);
$fonts-body: 'Noto Serif HK', 'New York', 'SF Mono'
