$color-text-dark: #2D2D2D;
$color-text-light: #FFFFFF;
$color-hover: #bb28ff;
$color-hover-transparent: rgba(203, 0, 210, 0.7);
$color-background-dark: rgba(0, 0, 0, .5);
$color-background-light: rgba(255, 255, 255, .1);
$fonts-body: 'Noto Serif HK', 'New York', 'SF Mono'
