.the-header .unit-head {
    padding: 26px;
    padding-bottom: 12px;

    text-align: center;

    .nav-global {
        .logo {
            font-family: $fonts-heading;
            font-weight: bold;
            display: block;
            padding-bottom: 18px;

            a {
                font-size: 1.5em;
                line-height: 0;
                display: inline;
                margin-left: 8px;
                @include hover-pink-vertical();
            }

            button {
                display: none;
                width: 24px;
                height: 24px;
                border: none;
            }

            .btn-menu {
                float: left;
                background: url('/assets/images/theme/btn-menu.svg') no-repeat;
                background-color: transparent;
            }

            .btn-search {
                float: right;
                background: url('/assets/images/theme/btn-search.svg') no-repeat;
                background-color: transparent;
            }
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline;

                a {
                    padding: 12px;
                    padding-bottom: 18px;
                    color: $color-text;
                    @include hover-pink-vertical();
                }

                a:active,
                a:hover {
                    cursor: pointer;
                }
            }
        }
    }
}