$fonts-heading: 'Noto Serif HK', 'New York', 'SF Mono', Menlo, Monaco, 'Courier New', monospace;
$fonts-body: 'Noto Serif HK', 'New York', 'SF Mono', Menlo, Monaco, 'Courier New', monospace;
$fonts-code: 'SF Mono', Menlo, Monaco, 'Courier New', monospace;
$color-text: rgb(255, 255, 255);
$color-hover: #9600cc;
$color-hover-transparent: rgba(203, 0, 210, 0.7);
$color-meta-link-hover: #383838;
$color-box-border: #161616;
$color-code-background: #000000;
$color-inline-code-background: #000000;
