$fonts-heading: 'Noto Serif HK', serif;
$fonts-body: 'Noto Serif HK', serif;
$fonts-code: 'JetBrains Mono', 'Fira Code', Monaco, 'Courier New', monospace;
$color-text: #eeeeee;
$color-text-dark: #222222;
$color-hover-icon: #222222;
$color-hover-transparent: #ffccff;
$color-meta-link-hover: #ffccff;
$color-box-border: #161616;
$color-code-background: #000000;
$color-inline-code-background: #000000;
