$fonts-heading: 'New York', 'SongTi SC', 'SF Mono', Menlo, Monaco, 'Courier New', monospace;
$fonts-body: 'New York', 'SongTi SC', 'SF Mono', Menlo, Monaco, 'Courier New', monospace;
$fonts-code: 'SF Mono', Menlo, Monaco, 'Courier New', monospace;
$color-text: rgba(0, 0, 0, .8);
$color-hover: #e5ccff;
$color-hover-transparent: rgba(251, 205, 255, 0.7);
$color-meta-link-hover: #797979;
$color-box-border: #adadad;
$color-code-background: #272822;
$color-inline-code-background: #eaeaea;
