@font-face {
    font-family: 'Noto Serif HK';
    font-weight: normal;
    font-style: normal;

    src: url('../../../assets/fonts/NotoSerifHK-Regular.ttf');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: normal;
    font-style: normal;

    src: url('../../../assets/fonts/JetBrainsMono-Regular.woff2');
}
