@font-face {
    font-family: 'New York';
    font-weight: normal;
    font-style: normal;

    src: url('../../../assets/fonts/NewYork.ttf');
}

@font-face {
    font-family: 'SF Mono';
    font-weight: normal;
    font-style: normal;

    src: url('../../../assets/fonts/SF-Mono-Regular.otf');
}
