@font-face {
    font-family: 'New York';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/NewYork.ttf');
}

@font-face {
    font-family: 'SF Mono';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/SF-Mono-Regular.otf');
}

@font-face {
    font-family: 'SongTi SC';
    font-weight: 100;
    font-style: normal;

    src: url('../fonts/Songti.ttc');
}
