$base-url: '../images/simple-icons/' !default;
$size: 48;

@mixin get-ico-image($name) {
    background-image: url('#{$base-url}#{$name}-#{$size}.svg');
}

.social-links {
    a {
        text-indent: -9999em;

        opacity: .3;
        background-repeat: no-repeat;
        background-position: center center;

        filter: alpha(opacity=30);

        &:hover {
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            transition: all .3s ease-out;

            opacity: 1.0;

            filter: alpha(opacity=100);
        }
    }

    .ico-github {
        @include get-ico-image(github);

        background-color: #3b3b3b00;
        border-radius: 10px;
    }
}