<meta charset="utf-8">
<!--[if IE]>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:wght@400;700&family=JetBrains+Mono:wght@400;700&family=Noto+Serif+HK:wght@400;700&family=Noto+Serif+JP:wght@400;700&display=swap">

{% seo %}
<meta name="keywords"
      content="{% if site.author.username %}{{ site.author.username }},{% endif %}{% if page.tags != null %}{{ page.tags | join: ',' }}{% else %}{{ site.blog.keywords }}{% endif %}"/>

{% if page.url == "/404.html" %}
<meta http-equiv="refresh" content="5; url={{ site.paths.blog | relative_url }}">
{% endif %}

{% if page.indexing == false %}
<meta name="robots" content="noindex">
{% endif %}

{% feed_meta %}